<form>
    <div class="form-group">
        <label for="burger">Enter the name of the burger you'd like to order then click the <b>Order Up!</b>
            button:</label>
        <input type="text" class="form-control" id="burgerOrder" name="burger">
    </div>
    <button type="submit" class="btn btn-primary" id="btnOrderBurger">Order Up!</button>
</form>
<br>
<div class="row">
    <div class="col-6">
        <h3>Orders</h3>
        <hr>
        {{#each burgers}}
        {{#if devoured}}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">#{{this.id}}: {{this.burger_name}}</h5>
                <p class="card-text">Your burger is ready to eat!</p>
                <button class="btnDevour btn btn-warning" data-id="{{this.id}}"
                    data-devoured="{{devour}}">Devour</button>
            </div>
        </div>
        <hr>
        {{/if}}
        {{/each}}
    </div>
    <div class="col-6">
        <h3>Devoured</h3>
        <hr>
        {{#each burgers}}
        {{#unless devoured}}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">#{{this.id}}: {{this.burger_name}}</h5>
                <p class="card-text">That was delicous!</p>
                {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
            </div>
        </div>
        <hr>
        {{/unless}}
        {{/each}}
    </div>
</div>